{
  "supervisors": [
    {
      "name": "Dan",
      "id": 123,
      "external_phone_numbers": [
        "5085551234",
        "6175559090"
      ],
      "internal_extensions": [
        "901"
      ],
      "day": true,
      "night": true,
      "backup_night": true
    },
    {
      "name": "Sparky",
      "id": 122,
      "phone_numbers": [
        "6175551234"
      ],
      "internal_extensions": [],
      "day": false,
      "night": true,
      "backup_night": false
    }
  ]
}
